# ignored files for ~/.dotfiles repo

# original, installed by zsh itself
.zshrc.old

# not every function in helper_funcs is needed
shell/helper_funcs/*
!shell/helper_funcs/cwd_func.py

shell/antigen.zsh.zwc
shell/.histfile

# most everything in vim/ is unnecessary
vim/*
!vim/vimrc
